.index {
  z-index: 2;
}

.text {
  font-size: 1.3rem;
  font-weight: 300;
}

.heading-text {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.img {
  width: 100%;
  height: auto;
}

///////////////// top section //////////////////////
.top-section {
  display: flex;
  height: 100px;
}

.main-text {
  h1, li{
    color: white;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  ul li {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }
}

//////////////// who section ///////////////////
.who {
  margin-top: 12rem;
  &__who-container {
    display: flex;

    .when-where-div {
      .when-where {
        color: $color-grey;
        font-size: 1.2rem;
      }

      .bold-p {
        font-weight: 400;
        font-size: 1.8rem;
      }
    }

    .when-where-div:nth-child(1) {
      margin-right: 2rem;
    }
  }

  .who-img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }

  &__list {
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    list-style: none;
    margin-top: 2rem;

    li:not(:first-child) {
      margin-top: 1.5rem;
    }

    li::before{
      content: "\2022";
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }

    li:nth-child(1)::before {
      color: $color-orange;
    }

    li:nth-child(2)::before {
      color: $color-green;
    }

    li:nth-child(3)::before {
      color: $color-red;
    }
  }
}

////////////// learn section /////////////////
.learn {
  position: relative;

  .time {
    color: $color-grey;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &__analyze-div {
    order: -1;

    .analyze {
      font-size: 2rem;
      color: $color-orange;
      font-weight: 400;
    }

    .learn-moreinfo-orange {
      color: $color-orange;
    }
  }

  &__project-div {
    .project {
      font-size: 2rem;
      color: $color-green;
      font-weight: 400;
    }

    .learn-moreinfo-green {
      color: $color-green;
    }
  }

  &__product-div {
    .product {
      font-size: 2rem;
      color: $color-red;
      font-weight: 400;
    }

    .learn-moreinfo-red {
      color: $color-red;
    }
  }
}

//////////// speaker section ////////////
.speakers {
  background-color: $color-pink;
  &__container {
    .card-speaker-container {
      display: flex;
      justify-content: center;

      .card-speaker {
        max-width: 30rem;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
        background-color: white;
        padding: 1.5rem;
        box-shadow: 3px 2px 8px 0px rgba(0,0,0,0.25);

        .speaker-name {
          font-size: 2rem;
          font-weight: 400;
        }

        .card-img {
          margin-bottom: 3rem;
        }
      }
    }
    
  }
}

///////////// Price secttion ///////////////
.price {
  position: relative;
  padding-bottom: 12rem;
  &__container {
    .card-price-container {
      display: flex;
      justify-content: center;
      .price-card {
        background-color: $color-black;
        padding: 2rem;
        max-width: 20rem;
        margin-top: 4rem;
  
      .circles {
        .circle1 {
          width: 1rem;
          height: 1rem;
          background-color: $color-green;
          border-radius: 100%;
        }

        .circle2 {

        }
      }

      .price-number {
        color: white;
        font-size: 2.8rem;
        font-weight: 700;
        }
      }
    }
    
  }
}

.book {
  position: relative;
  padding-bottom: 8rem;
  margin-top: -7rem;
  
  .book-container {
    .book-form {
      .book-label {
        color: white;
        font-size: 1.6rem;

        .star {
          color: $color-green;
        }
      }

      .form-submit {
        display: flex;
        justify-content: space-between;
        color: white;

        .obligatory {
          font-size: 1.2rem;
          &::before {
            content: "*";
            color: $color-green;
          }
        }

        .book-btn {
          background-color: $color-green;
          border: none;
          padding: 1rem 2rem;
          border-radius: 2rem;
          color: white;
          text-transform: uppercase;
          font-weight: 700;
          cursor: pointer;
        }
      }

      input {
        @include input-view;
        height: 3rem;
        font-size: 2rem;
        
        &:focus {
          outline: 1px solid $color-green;
        }
      }

      textarea {
        @include input-view;
        font-size: 1.6rem;

        &:focus {
          outline: 1px solid $color-green;
        }
      }
    }
  }
}