.header {
    z-index: 1;

    .logo-box {
        margin: 0 3rem;
        
        .header-logo {
            width: 10rem;

            @include media-breakpoint-up (md) {
                width: 15rem;
            }
        }
    }
}