.navigation {
  width: 100%;
  &__nav {
    // position: relative;
  }

  &__nav-mobile {
    .menu-toggle {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 25px;
      right: 20px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;

      @include media-breakpoint-up (mdxl) {
        display: none;
      }

      input {
        display: flex;
        width: 40px;
        height: 32px;
        position: fixed;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        right: 12px;
        top: 20px;

        &:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(-3px, -1px);
          background: #36383f;
        }

        &:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        &:checked ~ span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
        }

        &:checked ~ ul {
          transform: none;
        }
      }

      span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          opacity 0.55s ease;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

        &:first-child {
          transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
          transform-origin: 0% 100%;
        }
      }
    }

    .menu {
      position: absolute;
      width: 80vw;
      height: 102vh;
      box-shadow: 0 0 10px #85888c;
      margin: -50px 0 0 70px;
      padding: 20px;
      padding-top: 100px;
      background-image: linear-gradient(to bottom right, $main-color-bright, $main-color-dark);
      transform-origin: 0% 0%;
      transform: translate(100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      right:-110%;

      li {
        padding: 10px 0;
        transition-delay: 2s;
        list-style: none;

        a {
          font-size: 2.5rem;
          color: white;
        }
      }
    }
  }

  &__nav-desktop {
    margin-top: 2rem;
    display: none;

    .menu {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: flex-end;
      margin-right: 5rem;

      li {
        z-index: 1;
        font-size: 1.6rem;

        &:not(:last-child) {
          margin-right: 2rem;
        }
        
        a {
          color: white;
        }
      }
    }

    @include media-breakpoint-up (mdxl) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__nav-mobile, &__nav-desktop {
    .menu {
      li {
        position: relative;
        display: inline-block;

        &:not(:last-child)::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          transition: transform .2s ease-in-out;
          transform: scaleX(0);
          transform-origin: bottom right;
          background-color: white;
        }

        &:hover::after {
          transform-origin: bottom left;
          transform: scaleX(1);
        }

        a {
          text-decoration: none;
        }
      }

      li:last-child {
        border: 1px solid white;
        padding: .5rem 2rem;
        border-radius: 3rem;
        cursor: pointer;
        width: fit-content;
        font-weight: 700;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
